body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #282C34;
    color: #98C379;
    font-size: clamp(5vw, 6vw, 15vh);
    margin: 0;
}

h1 {
    font-family: monospace;
    border-right: 0.04ch solid #61AFEF;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 2s steps(11, end) 1 forwards, blink-caret 1.5s step-end infinite 2s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 11ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #61AFEF;
    }
}
